body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DDD;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: fit-content;
    background-color: #EEE;
    display: grid;
    grid-template-columns: repeat(4 ,100px);
    grid-template-rows: repeat(4 , 100px );
    gap: 5px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box {
    background-color: hotpink;
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

img.show {
    opacity: 1 ;
}